// 轮播图style

#home-category {
	background-color: #fff;
	padding: 10px;

	.carousel-item {
		ul {
			width: 100%;
			height: auto;
		}

		li {
			display: block;
			list-style: none;//发现这个和block好像效果重合
			width: 20%;
			background-repeat: no-repeat;
			backgournd-size: 50px auto;//这是干嘛的，没怎么用过
			background-position: top center;
			text-align: center;
			font-size: 14px;
			color: #777;
			padding-top: 50px;
		}

		li {
			background-image: url();
		}		
		li {
			background-image: url();
		}	
		li {
			background-image: url();
		}		
		li {
			background-image: url();
		}	
		li {
			background-image: url();
		}		
		li {
			background-image: url();
		}	
		li {
			background-image: url();
		}		
		li {
			background-image: url();
		}
		li {
			background-image: url();
		}		
		li {
			background-image: url();
		}	
		li {
			background-image: url();
		}		
		li {
			background-image: url();
		}	
		li {
			background-image: url();
		}		
		li {
			background-image: url();
		}	
		li {
			background-image: url();
		}		
		li {
			background-image: url();
		}


	}
}


// 基本效果，测试轮播图底部小圆点是否对应index生效
// li.selected {
// 	font-weight: 700;
// 	color: red;
// }



.index-container {
	margin-top: 15px;

	ul {
		width: 100%;
		height: auto;
		text-align: center;
	}

	li {
		list-style: none;
		display: inline-block;
		width: 8px;
		height: 8px;
		background-color: #aaa;
		border-radius: 4px;
		margin: 0 1px;
	}

	li.selected {
		// background-color: #f63;
		background-color: rgb(233,32,61);
	}
}